﻿@using Homenet.RecallSplat.Core.Model
@model OpenRecallResponse


<div class="recalldetails">
    <div class="recalltop">
        <div class="nhtsarecallnumber">
            <span>NHTSA Recall Number</span>: <a href="@Model.NHTSACampaignURL">@Model.CampaignID</a>
        </div>
        <div class="recalldate">
            <span>Recall Date: </span>@(Model.CampaignDate.HasValue?Model.CampaignDate.Value.ToShortDateString():"")
        </div>
        <div class="oemrecallnumber">
            <span>Manufacturer Recall Number: </span>@Model.OEMCampaignID
        </div>
    </div>
    <div class="recallbody">
        <div class="recalltitle recallbox">
            <span>TITLE:</span><br>@Model.Title
        </div>
        <div class="recalldescription recallbox">
            <span>SUMMARY:</span><br>@Model.Description
        </div>
        <div class="safetyrisk recallbox">
            <span>SAFETY RISK:</span><br>@Model.SafetyRisk
        </div>
        <div class="remedydescription recallbox">
            <span>REMEDY:</span><br>@Model.RemedyDescription
        </div>
        <div class="status recallbox">
            <span>RECALL STATUS: </span>

            @switch (Model.Status)
            {
                case RecallStatusEnum.Unknown:
                    @:It is unknown if a repair is available for this recall.
                    break;
                case RecallStatusEnum.RecallIncomplete:
                    @:Recall Incomplete
                    break;
                case RecallStatusEnum.RecallIncomplete_RemedyNotYetAvailable:
                    @:Recall Incomplete - Remedy Not Yet Available
                    break;
                case RecallStatusEnum.Repaired:
                    @:Repaired
                    break;
                default:
                    throw new ArgumentOutOfRangeException();
            }
        </div>
    </div>
</div>

