﻿@using Homenet.RecallSplat.Core.Model
@model VINResponse

@{
    bool isError = false;
    if (Model.HadError)
    {
        if (Model.Status == RecallVINStatusEnum.OEMNotFound || Model.Status == RecallVINStatusEnum.OEMError || Model.ErrorMessage.Contains("Invalid VIN number specified"))
        {
            isError = true;
        }
        else
        {
            isError = true;
        }
    }
}

<div class="accordion">
    <h3  class="@(isError?"errorrow":"")">
        <div class="toptwo">

            <div style="width: 50%; float: left">
                <div id="vin">
                    <span>VIN:</span> @Model.VIN
                </div>
                <div id="recallcount">
                    Number of Open Recalls: @Model.OpenRecallCount
                </div>
            </div>
@if (!string.IsNullOrWhiteSpace(Model.Make) || !string.IsNullOrWhiteSpace(Model.Model))
{
    <div id="yearmakemodel">
        <span id="year">Year: </span> @Model.Year
        <span id="make">Make: </span>@Model.Make
        <span id="model">Model: </span>
        @Model.Model
    </div>
}

        </div>
        <div style="clear:both"></div>   
        @*<div id="recallcount">Number of Open Recalls: @Model.OpenRecallCount</div>*@
    </h3>

    <div>
        <div id="eachvin">

            <div class="hide">
                <div id="error">No Error</div>
                <div id="status">AllSuccessful</div>
            </div>

            @if (Model.HadError)
            {
                // zack made me do this
                if (Model.ErrorMessage.Contains("Invalid VIN number specified"))
                {
                    <div style="color: red; font-weight: bold; clear: both; padding-top: 20px;">Please enter a valid VIN.</div>
                }
                if (Model.ErrorMessage.Contains("VIN not found"))
                {
                    <div style="color: red; font-weight: bold; clear: both; padding-top: 20px;">The VIN you entered cannot be processed at this time. Please verify that it was entered correctly or contact your vehicle manufacturer for more information.</div>
                }
                else if (Model.Status == RecallVINStatusEnum.OEMError)
                {
                    <div style="color: red; font-weight: bold; clear: both; padding-top: 20px;">An error occured trying to return data from this OEM. Please try this VIN at <a href="https://vinrcl.safercar.gov/vin/" style="color: #000000; font-weight: normal;">https://vinrcl.safercar.gov/vin/</a></div>
                }
                else if (Model.Status == RecallVINStatusEnum.OEMNotFound)
                {
                    <div style="color: red; font-weight: bold; clear: both; padding-top: 20px;">We don't have an OEM source for this VIN. Please try this VIN at <a href="https://vinrcl.safercar.gov/vin/" style="color: #000000; font-weight: normal;">https://vinrcl.safercar.gov/vin/ </a></div>
                }
                else
                {
                    <div style="color: red; font-weight: bold; clear: both; padding-top: 20px;">@Model.ErrorMessage</div>
                }
            }
            else
            {

                <div class="hide">OK</div>
                <div class="hide">DateTime?</div>
                <div class="hide">string</div>

                if (Model.OpenRecalls != null)
                {
                    foreach (var r in Model.OpenRecalls)
                    {
                        @:@Html.Partial("_Recall", r)
            }
                }
                <div class="lastupdated">
                    <div class="feedlastupdated">This feed was last updated on: @(Model.FeedLastUpdated.HasValue ? Model.FeedLastUpdated.Value.ToShortDateString() : "")</div>
                </div>
                <div class="disclaimer">
                    *The information provided here may not accurately reflect your vehicle's most recent recall information. <a href="@(Model.LearnMoreOEMURL)" target="_blank">Please contact your vehicle's manufacturer</a> to get the most up-to-date information for your vehicle.
                </div>
            }
        </div>
    </div>
</div>