﻿@using Homenet.RecallSplat.Core.Model
@model VINRecallResponse

@{
    ViewBag.Title = "Multi";

    bool searchOnSide = false;
    int numResults = 0;

    if (Model != null && Model.VINs != null && Model.VINs.Length > 0)
    {
        searchOnSide = true;
        numResults = Model.VINs.Length;
    }
}

@section Head{
    <script>
      $(function() {
        $(".accordion").accordion({
            collapsible: true,
            active: @(numResults == 1?"0":"false"),
            heightStyle: "content"
        });

        jQuery.each(jQuery('textarea[data-autoresize]'), function() {
            var offset = this.offsetHeight - this.clientHeight;
            var resizeTextarea = function(el) {
                jQuery(el).css('height', 'auto').css('height', el.scrollHeight + offset);
            };
            jQuery(this).on('keyup input', function() { resizeTextarea(this); }).removeAttr('data-autoresize');
        });

    });
</script>
}

@section Search{
    <div @Html.Raw(searchOnSide?"style='float: right'":"")>
        <div style="text-align: right; float: left; padding-right: 10px; @Html.Raw(searchOnSide?"":"width: 25%;")">
            &nbsp;
        </div>
        <div style="text-align: left; float: left">
            @using (Html.BeginForm(null, null, FormMethod.Get))
            {
                <textarea cols="40" id="vins" name="vins" data-autoresize rows="@(ViewBag.initialTextAreaRows)" placeholder="Enter VIN number(s)">@(ViewBag.vins)</textarea>
                @:&nbsp;
                <button id="clickme" type="submit" style="float: right">Get Recall Info</button>
            }
        </div>
        <div style="clear: both"></div>
    </div>
<div style="clear: both"></div>
}


@if (Model != null && Model.VINs != null)
{
    if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
    {
        <p style="color: red; font-weight: bold">@Model.ErrorMessage</p>
    }

    foreach (var vin in Model.VINs)
    {
        
            @Html.Partial("_VINView", vin)
        
    }
}