﻿@using Homenet.RecallSplat.Core.Model
@model VINRecallResponse

@section Search{
    <div style="text-align: right;">
        @using (Html.BeginForm(null, null, FormMethod.Get))
        {
            @Html.TextBox("vin", null, new { id = "vinbox" })
            <button id="clickme" type="submit">Lookup</button>
            <br/><a href="@Url.Action("multi")" style="padding-right: 140px; font-size: 8pt;">search multiple VINs</a>
        }

    </div>
}

@if (Model != null && Model.VINs != null)
{
    if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
    {
        <p style="color: red; font-weight: bold">@Model.ErrorMessage</p>
    }

    foreach (var vin in Model.VINs)
    {
        @:@Html.Partial("_VINView", vin)
    }
}
else
{
    <span>Please enter a VIN.</span>
}