﻿<!DOCTYPE html>
<html>
<head>
    <title>Recalls Look-up by VIN</title>

    <style>
        body {
            background-color: #eee;
            font-family: Arial, Helvetica, sans-serif;
        }

        #container {
            width: 90%;
            max-width: 800px;
            min-width: 300px;
            float: none;
            margin: 0 auto;
            background-color: white;
            padding: 30px;
            box-shadow: 1px 1px 5px #888888;
        }

        #title {
            color: orange;
            font-weight: bold;
            font-size: 1.8em;
        }

        #vin {
            float: left;
        }

        #yearmakemodel {
            float: right;
            width: 50%;
            text-align: right;
        }

        #vin span, #year, #make, #model {
            font-weight: bold;
        }

        #make, #model {
            padding-left: 10px;
        }

        .hide {
            display: none;
        }

        .recalldetails {
            border: #ddd 1px solid;
            margin-top: 10px;
            border-radius: 5px;
        }

        .recalltop {
            padding: 10px;
            background-color: #eee;
            line-height: 1.4em;
        }

        .recallbody {
            padding: 10px;
        }

        #recallcount {
            clear: both;
            padding-top: 10px;
        }

        .recalldate {
            float: right;
        }

        .recallbox {
            padding-bottom: 10px;
            ;
            line-height: 1.4em;
        }

        .recallbox span {
            font-weight: bold;
            color: #000;
            line-height: 25px;
        }

        .status {
            color: red;
        }

        .lastupdated {
            text-align: right;
            font-style: italic;
        }

        .disclaimer {
            padding-top: 20px;
            color: red;
        }

        #databutton {
            display: inline-block;
            border: 1px #444 solid;
            padding: 2px;
            background-color: #666;
            color: white;
            border-radius: 2px;
            font-size: 14px;
            padding-left: 6px;
            padding-right: 6px;
        }

        #clickme {
            text-decoration: none;
        }

    textarea {
        box-sizing: border-box;
        resize: none;
    }
    h3 {
        line-height:24px;
    }

    </style>

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>



    <style>
        .ui-widget {
            font-family: arial;
            font-size: inherit;
        }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
       background: #e5e5e5; /* Old browsers */
       background: -moz-linear-gradient(top, #e5e5e5 0%, #f7f7f7 50%, #e5e5e5 100%); /* FF3.6-15 */
       background: -webkit-linear-gradient(top, #e5e5e5 0%,#f7f7f7 50%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
       background: linear-gradient(to bottom, #e5e5e5 0%,#f7f7f7 50%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+,     Opera12+, Safari7+ */
       filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#e5e5e5',GradientType=0 );   /* IE6-9 */
}

    .errorrow {
        background: pink !important;
    }

    </style>

    @RenderSection("Head", false)
</head>
<body>
    <div id="container">

        <h1 id="title">Recalls Look-up by VIN - Vehicle Identification Number</h1>
        <hr>
        @RenderSection("Search", false)
        @*<div style="text-align: right;">
            @using (Html.BeginForm(null, null, FormMethod.Get))
            {
                @Html.TextBox("vin", null, new { id = "vinbox" })
                <button id="clickme" type="submit">Lookup</button>
            }

        </div>*@
        <br>
        <div id="placeholder">

            @RenderBody()
        </div>
    </div>
</body>
</html>