﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 800px;
}

.field-validation-error {
	color: #ff0000;
	font-weight: bold;
}

.field-validation-valid {
	display: none;
}

.input-validation-error {
	border: 1px solid #ff0000;
	background-color: #ffeeee;
}



.configurations-filter-container {
	padding: 15px;	
	margin-bottom: 15px;
	-webkit-box-shadow: 1px 1px 5px darkgray;
	-ms-box-shadow: 1px 1px 5px darkgray;
	box-shadow: 1px 1px 5px darkgray;
}

.configurations-gird-container {
	padding-top: 15px;	
	/*margin: 15px;*/
	border: 1px solid darkgray;
}

.configurations-edit-container {
	padding: 15px;
	-webkit-box-shadow: 1px 1px 5px darkgray;
	-ms-box-shadow: 1px 1px 5px darkgray;
	box-shadow: 1px 1px 5px darkgray;
}

.configurations-create-container {
	padding: 15px;
	-webkit-box-shadow: 1px 1px 5px darkgray;
	-ms-box-shadow: 1px 1px 5px darkgray;
	box-shadow: 1px 1px 5px darkgray;
}
