﻿@model Homenet.RecallSplat.AdminWebsite.Models.ConfigurationsFilterViewModel

<div class="configurations-filter-container col-md-12">
	<form class="form-horizontal" method="POST">
		<fieldset>
			<legend>Filter Options</legend>
			<div class="form-group">
				@Html.LabelFor(m => m.ConfigurationType, new { @class = "control-label col-md-2" })
				<div class="col-md-5">
					@Html.EnumDropDownListFor(m => m.ConfigurationType, "All", new { @class = "form-control col-md-5" })
				</div>
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.ConfigurationKey, new { @class = "control-label col-md-2" })
				<div class="col-md-5">
					@Html.TextBoxFor(m => m.ConfigurationKey, new { @class = "form-control col-md-5" })
				</div>
			</div>
			<div class="text-right col-md-2">
				<button type="submit" class="btn btn-primary" title="Apply current filter options"><span class="glyphicon glyphicon-filter"></span> Apply Filter</button>
			</div>
		</fieldset>
	</form>
</div>
