﻿@model IEnumerable<Homenet.RecallSplat.AdminWebsite.Models.ConfigurationsGridViewModel>
@{
	WebGrid grid = new WebGrid(Model, rowsPerPage:10, canSort:false);
}

<div class="configurations-gird-container col-md-12">
	<a href="/Configurations/Create" class="btn btn-primary" title="Create a new configuration"><span class="glyphicon glyphicon-file"></span> New</a>
	@grid.GetHtml(
		tableStyle: "table",
		
		fillEmptyRows: false, 
		headerStyle: "header", //applying style.

		footerStyle: "grid-footer", //applying style.

		mode: WebGridPagerModes.All, //paging to grid
		firstText: "<< First",
		previousText: "< Prev",
		nextText: "Next >",
		lastText: "Last >>",

		columns: new[]
		{
			grid.Column(columnName: "ConfigurationType", header: "Configuration Type", canSort:false),
			grid.Column(columnName: "ConfigurationShortKey", header: "Configuration Key", canSort: false),
			grid.Column(columnName: "ConfigurationShortKey", header: "Actions", format: item => new HtmlString(
				Html.ActionLink(" ", "Edit","Configurations", new {configType=item.ConfigurationType, key=item.ConfigurationShortKey}, 
					new {@class="btn btn-xs btn-primary glyphicon glyphicon-pencil", @title="Edit this configuration"}) + " " +
				Html.ActionLink(" ", "Delete","Configurations", new {configType=item.ConfigurationType, key=item.ConfigurationShortKey}, 
					new {@class ="btn btn-xs btn-primary glyphicon glyphicon-remove", @title="Delete this configuration", @onclick="return confirm('Are you sure you want to delete this configuration?');"})))})
</div>
