﻿@model Homenet.RecallSplat.AdminWebsite.Models.ConfigurationViewModel
@{
    ViewBag.Title = "Create Configuration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="configurations-create-container">
	<h2>@ViewBag.Title</h2>
	<form class="form-horizontal" method="POST">
		<div class="form-group">
			@Html.LabelFor(m => m.ConfigurationType, "Configuration Type", new { @class = "control-label col-md-2" })
			<div class="col-md-5">
				@Html.EnumDropDownListFor(m => m.ConfigurationType, new {@class = "form-control"}).
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(m => m.ConfigurationKey, "Configuration Key", new { @class = "control-label col-md-2" })
			<div class="col-md-5">
				@Html.TextBoxFor(m => m.ConfigurationKey, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.ConfigurationKey)
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(m => m.ConfigurationValue, "Configuration Value", new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.TextAreaFor(m => m.ConfigurationValue, 10, 10, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.ConfigurationValue)
			</div>
		</div>
		<div class="text-center">
			<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
			<a href="/Configurations/Create" class="btn btn-primary">Reset</a>
		</div>	
	</form>	
</div>

